p{
  color: #C39BD3;
  font-size: 30px;
}

.special {
  color: white;
  background: #C39BD3;
  border: 1px soild red;
  margin: 100px 20px 20px 20px;
  padding: 50px;
}

.handmade web {
  color: white;
  background: #C39BD3;
  border: 4px soild #C39BD3;
  margin: 50px 50px 20px 20px;
  padding: 50px;
}
