body {
  background:#D589B9;
  font-size: 21px;
}

.special {
  color:#946182;
  font-style: italic;
  display: inline;
  cursor:cell;
}

.special-img {
  position: absolute;
  display:none;
}

.special:hover {
  color:#E51A9B;
}

.special:hover .special-img {
  display:block;
}

.one {
  top:300px;
  left:300px;
}

.two {
  bottom:100px;
  right:200px;
}

.show-text {
  background:#E37EE3;
  width:100px;
  height:50px;
  cursor:help;
}

.show-text:hover {
  background:#7EE39B;
}

.text {
  display: none;
  color:black;
  position: absolute;
  top:200px;
  left:200px;
}

.show-text:hover .text{
  display: inline;
}

.object {
  background:#679EAC;
  width:100px;
  height:100px;
  border-radius:50%;
  position: absolute;
  top:200px;
  left:700px;
  transition: border-radius ,.5s ease,
              background .5s ease,
              transform .5s ease;
  cursor: pointer;
}

.object:hover {
  border-radius:0;
  background:#285B67;
  transform: scale(3);
}
