p{
  color: white;
  font-size: 30px;
  font-family: 'Aldrich', sans-serif;
}

h4{
  font-size: 25px;
  font-family: 'Aldrich', sans-serif;
}

body{background-color: #A9CCE3;}


.special {
  color: white;
  background: #17202A;
  border: 5px solid #248DE5;
  margin: 100px 20px 20px 20px;
  padding: 50px;
}

.special2 {
  color: #17202A;
  background: white;
  border: 4px dotted #248DE5;
  margin: 30px 20px 20px 20px;
  padding: 50px;
}
