p{
  color: white;
  font-size: 25px;
  font-family: 'Aldrich', sans-serif;
}

body{background-color: #A9CCE3;}


.special {
  color: white;
  background: #17202A;
  border: 1px soild red;
  margin: 190px 20px 20px 20px;
  padding: 50px;
}

.handmade web {
  color: #17202A;
  background: #17202A;
  border: 4px soild #17202A;
  margin: 50px 50px 20px 20px;
  padding: 50px;
}
